NORD_TOKEN=[REPLACE_ME]
CONNECT_RETRIES=[REPLACE_ME]
DOWNLOADS_PATH=[REPLACE_ME]
PUID=[REPLACE_ME]
PGID=[REPLACE_ME]
TZ=[REPLACE_ME]
UMASK_SET=[REPLACE_ME]
WEBUI_PORT=[REPLACE_ME]
TORRENTING_PORT=[REPLACE_ME]
